[Desktop Entry]
Encoding=UTF-8
Name=Gocalc
Name[en]=Gocalc
Name[de]=Gocalc
Name[fr]=Gocalc
Comment[en]=minimal CLI Calculator
Comment[de]=minimaler CLI Rechner
Comment[fr]=calculatrice CLI minimal
Keywords=calculation;arithmethic;
GenericName=Calculator
GenericName[en]=Calculator
GenericName[de]=Rechner
GenericName[fr]=calculatrice

Exec=gocalc
Icon=Application
Terminal=true
StartupNotify=false
Type=Application
Categories=Application;Calculator;Utility;ConsoleOnly;
