[Desktop Entry]
Encoding=UTF-8
Name=Gocalc
Comment=minimal Calculator
Comment[en]=minimal CLI Calculator
Comment[de]=minimaler CLI Rechner
Comment[fr]=calculatrice CLI minimal
Comment[ru]=Минимальный калькулятор с CLI
Comment[da]=minimal CLI-lommeregner
Comment[uk]=мінімальний калькулятор CLI
Comment[ja]=最小CLI計算機
Comment[nl]=Minimale CLI-rekenmachine
Comment[tr]=Minimal CLI hesaplayıcı
Comment[it]=calcolatore CLI minimo
Comment[es]=calculadora CLI mínima
Comment[hu]=minimális CLI-kalkulátor
Comment[cs]=minimální kalkulačka CLI
Comment[sv]=minimal CLI-kalkylator
Comment[el]=ελάχιστη αριθμομηχανή CLI
Comment[ko]=최소 CLI 계산기
Comment[sl]=minimalni kalkulator CLI
Comment[sk]=minimálna kalkulačka CLI
Comment[pl]=minimalny kalkulator CLI

Keywords=calculation;arithmethic;

GenericName=Calculator
GenericName[en]=Calculator
GenericName[de]=Rechner
GenericName[fr]=calculatrice
GenericName[ru]=Калькулятор
GenericName[da]=Lommeregner
GenericName[uk]=калькулятор
GenericName[ja]=ポケット計算機
GenericName[nl]=Zakrekenmachine
GenericName[tr]=hesaplayıcı
GenericName[it]=Calcolatrice tascabile
GenericName[es]=calculadora
GenericName[hu]=kalkulátor
GenericName[cs]=kalkulačka 
GenericName[sv]=kalkylator
GenericName[el]=Αριθμομηχανή τσέπης
GenericName[ko]=포켓 계산기
GenericName[sl]=Žepni kalkulator
GenericName[sk]=Vrecková kalkulačka
GenericName[pl]=Kalkulator kieszonkowy

Exec=gocalc
Icon=gocalcico
Terminal=true
StartupNotify=false
Type=Application
Categories=Calculator;Utility;ConsoleOnly;
